html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.error-message {
    color: #ff4d4d;
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
}

.success-message {
    color: #4CAF50;
    background-color: #E8F5E9;
    border: 1px solid #4CAF50;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
}